@use "../../scss/rules.scss" as rules;

.text-mono {
  font-family: rules.$code_rules !important;
}

.blob-num,
.blob-code-inner {
  font-family: rules.$code_rules;
}

.markdown-body {
  font-family: rules.$chinese_rules !important;
}
