@use "./var.scss" as var;
@import url("https://s1.hdslb.com/bfs/static/jinkela/long/font/regular.css");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans+SC&display=swap');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

pre,
code,
kbd,
samp {
  font-family: var.$code_rules;
}

button,
input,
keygen,
optgroup,
select,
textarea {
  font-family: inherit;
}

body,
html,
html:is( :lang(zh),
  :lang(zh-CN),
  :lang(zh-SG),
  :lang(zh-Hans),
  :lang(cmn),
  :lang(cmn-Hans),
  :lang(zh-cmn-Hans),
  :lang(de),
  :lang(nl),
  :lang(en),
  :lang(nb),
  :lang(no),
  :lang(is),
  :lang(da),
  :lang(sv),
  :lang(pt),
  :lang(es),
  :lang(fr),
  :lang(it),
  :lang(ro),
  :lang(lv),
  :lang(lt),
  :lang(pl),
  :lang(cs),
  :lang(sk),
  :lang(bs),
  :lang(hr),
  :lang(sr),
  :lang(bg),
  :lang(sl),
  :lang(ru),
  :lang(uk),
  :lang(be),
  :lang(el),
  :lang(hu),
  :lang(et),
  :lang(fi),
  :lang(tr),
  :lang(id),
  :lang(ms)) body {
  font-family: var.$chinese_rules;
}

html:is(:lang(ar), :lang(he), :lang(th), :lang(vi)) {
  font-family: var.$system_rules;
}

$font-families: 'Microsoft YaHei', '微软雅黑', '-apple-system', 'TwitterChirp';

@each $font-family in $font-families {
  @font-face {
    font-family: '#{$font-family}';
    src: local(var.$chinese);
  }
}
