@use "./var.scss" as var;
@use "./rules.scss" as rules;
@use "./aliases.scss";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  font-family: rules.$en_zh_rules;
}

html:lang(ja) body {
  font-family: rules.stack(var.$english, var.$japanese, rules.$chinese_rules);
}

html:lang(ko) body {
  font-family: rules.stack(var.$english, var.$korean, rules.$chinese_rules);
}

pre,
code,
kbd,
samp,
:is(pre, code, kbd, samp) * {
  font-family: rules.$code_rules !important;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
