$chinese: 'HarmonyOS Sans SC';
$chinese-online: 'HarmonyOS_Medium';
$english: 'Inter';
$english-online: 'Inter';
$emoji: 'Twemoji Mozilla';
$system: 'system-ui';
$monospace: 'JetBrainsMono NFM';
$monospace-online: 'JetBrains Mono';
